@import '../../assets/styles/main.scss';

.wrapper {
  position: relative;
  padding-top: 12px;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  @include font(400, 8px);
}

.input {
  @extend %input;
  @include font(400, 10px);
}

// .input:focus {
//   outline: none;
//   border: 1px solid #ff7347;
// }

// .input::placeholder {
//   color: transparent;
// }

// .input:focus + .label,
// .input:not(:placeholder-shown) + .label {
//   position: absolute;
//   top: 0;
//   left: 15px;
//   transform: translateY(-50%);
//   color: #45515f;
//   background-color: white;
//   padding: 2px;
// }
