%link {
    text-decoration: none;
}

%list {
    list-style: none;
    margin: 0;
    padding: 0;
}

%container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @include for-size(mobile) {
        width: 480px;
    }

    @include for-size(tablet) {
        width: 750px;
    }

    @include for-size(desktop) {
        width: 1182px;
    }
}

%section {
    padding: 60px 0;

    @include for-size(desktop) {
        padding: 94px 0;
    }
}

%heading {
    color: $title-color;
}

%fill {
    fill: currentColor;
}

%box {
    position: relative;
    display: flex;
    flex-direction: column;
}

%lable {
    position: relative;
    display: inline-block;
    margin: 0 0 4px;
    padding: 0px;
}

%input {
    padding: 12px 42px;
    margin: 0 0 10px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border $cubic, outline $cubic;
}

%btn {
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    min-height: 50px;

    border: 1px solid transparent;
    border-radius: 4px;

    background-color: $accent-color;
    color: $primery-color;

    cursor: pointer;
}