$primery-color: #ffffff;
$primery-text-color: #757575;
$title-color: #212121;
$alternate-bg-color: #f5f4fa;
$secondery-color: #2f303a;
$accent-color: #2196f3;
$prompt-color: rgba(255, 255, 255, 0.6);
$icon-color: #afb1b8;

$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$common-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;

$normal: 400;
$medium: 500;
$bold: 700;
$black: 900;

$primery-text-size: 14px;
$secondery-text-size: 16px;
$title-text-size: 36px;