$primary-color: #ffffff;
$primary-text-color: #000000;
$alternate-bg-color: #bdbdbd;
$secondery-color: #f3f3f3;
$accent-color: #4b51ef;
$light-color: #a3a3a3;
$success-color: #52cf4f;
$error-color: #d91313;

$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$font: Roboto, sans-serif;
