@import '../../assets/styles/main.scss';

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  justify-self: end;
  border: none;
  background: #ff7b00;
  border-radius: 8px;
  padding: 15px 35px;
  font-weight: 600;
  color: #3c4260;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
