@import '../../assets/styles/main.scss';

.user {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile {
  display: grid;
  grid-template-columns: 1f 1f;
  gap: 15px;
  border: 1px solid $secondery-color;
  box-sizing: border-box;
  border-radius: 8px;
  grid-column: 1 / -1;
}

.button {
  justify-self: end;
}
