.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px 0;
}

.loader {
  text-align: center;
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 33px;
  color: #45515f;
  margin-bottom: 15px;
}

@media screen and (min-width: 769px) {
  .form {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .title {
    font-size: 38px;
    line-height: 33px;
  }
}

@media screen and (min-width: 1280px) {
  .main {
    grid-column: 2 / -2;
  }

  .title {
    font-size: 38px;
    line-height: 45px;
  }
}
