.main {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-column: 2 / 3;
}

.sort {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.users {
  display: grid;
  grid-template-rows: auto auto;
  gap: 17px;
}
