.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
}

@media screen and (min-width: 520px) {
  .app {
    grid-template-columns: auto 1fr auto;
  }
}

@media screen and (min-width: 682px) {
  .app {
    grid-template-columns: auto 665px auto;
  }
}
