.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
}

@media screen and (max-width: 665px) {
  .app {
    grid-template-columns: auto 1fr auto;
  }
}

@media screen and (min-width: 666px) {
  .app {
    grid-template-columns: auto 665px auto;
  }
}
