.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  background-color: ;
}

@media screen and (min-width: 1280px) {
  .app {
    grid-template-columns: auto 1260px auto;
  }
}
